@model FeedViewModel
@{
    ViewData["Title"] = "Feed";
}

<!DOCTYPE html>
<html>

<body>
    <h1>Feed</h1>

    <div class="output">
        @foreach (var Post in Model.FeedList)
        {
            <div class="single_post" style="border: 5px solid #1C6EA4; margin-bottom:20px">
                <ul style="list-style-type: none">
                    <h3>@Model.NosediveService.GetUserFromId(Post.UserId).Name</h3>
                    <h3 style="float:right; margin-right:10px;">@Model.NosediveService.GetCircleFromId(Post.CircleId).Name</h3>
                    <li style="margin-bottom:5px">@Post.TextContent</li>
                    <li><small>@Post.Timestamp</small></li>
                    <div class="comments">
                        <ul style="list-style-type: none">
                            @if (Post.Comments != null)
                            {
                                @foreach (var comment in Post.Comments)
                                {
                                    <div class="single_comment" style="border: 2px solid #1A7EC0; margin-bottom:10px; margin-left:10px; max-width:400px">
                                        <div style="margin-left:5px">
                                            <h4 style="color:dimgrey">@Model.NosediveService.GetUserFromId(comment.UserId).Name</h4>
                                            <li style="color:dimgrey">@comment.Content</li>
                                            <li><small>@comment.Timestamp</small></li>
                                        </div>
                                    </div>
                                }
                            }
                            <form method="post" asp-controller="Feed" asp-action="PostComment" style="margin-left:10px">
                                <input name="content" type="text" style="min-width:345px" />
                                <input type="hidden" name="postid" value="@Post.PostId" />
                                <input type="hidden" name="user" value="Morten Hansen" />
                                <input type="submit" value="Send" />
                            </form>
                        </ul>
                    </div>
                </ul>
            </div>




        }

    </div>
</body>
</html>
